<!DOCTYPE html>
<html>

<head>
    <title>Allergy Recipe Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>
        {% if g.user %}
        <div class="nav-links">
            <p>Welcome, {{ g.user.username }}!</p>
            <a href="{{ url_for('saved') }}">Your Saved Recipes</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% else %}
        <div class="nav-links">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </div>
        {% endif %}
    </nav>
    
    <!-- <nav>
        {% if g.user %}
        <p>Welcome, {{ g.user.username }}!</p>
        <br>
        <a href="{{ url_for('saved') }}">Your Saved Recipes</a>
        <br>
        <a href="{{ url_for('logout') }}">Logout</a>


        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
        {% endif %}
    </nav> -->
    

    <form id="search-form" method="POST" action="/search">
        {{ form.hidden_tag() }}

        <h2>Search for allergen-friendly <br> recipes!</h2>
        <p>
            Have an allergy?
            <br> 
            Enter ingredients that you wish to exclude from your cooking
        </p>
        <br>

        <label>{{ form.excluded_ingredients.label }}</label>
        {{ form.excluded_ingredients(class="form-control") }}
        <br>

        <div class="form-group">
            <input type="submit" value="Search Recipes" class="btn btn-primary">
        </div>
    </form>

    <!-- Display the random recipes -->
    <div class="recipe-list-container">
        <h2>Browse Recipes</h2>
        <ul>
            {% for recipe in recipes %}
            <li>
                <a href="{{ recipe.sourceUrl }}" target="_blank"> <!-- Link to the recipe source -->
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}" width="200" height="150">
                    <!-- Recipe image -->
                    <h3>{{ recipe.title }}</h3> <!-- Recipe title -->
                    <!-- Marks the summary from api as safe html, and displays the description using beautifulsoup -->
                    <p>{{ recipe.summary | safe | striptags }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>



</html>