<!DOCTYPE html>
<html>

<head>
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<!-- <body>
    <h1>{{ recipe.title }}</h1>
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}" width="300" height="300">
    <h2>Ingredients:</h2>
    <p>{{ recipe.ingredients }}</p>
    <h2>Instructions:</h2>
    <p>{{ recipe.instructions }}</p>
</body> -->

</html>