<!DOCTYPE html>
<html>

<head>
    <title>Saved Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <h3>Your Saved Recipes</h3>
    <ul>
        {% for recipe in detailed_recipes %}
        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" width="200" height="200">
        <h2>{{ recipe['title'] }}</h2>
        <a href="{{ recipe.sourceUrl }}" target="_blank">View Recipe</a>
        <button class="save-button" data-recipe-id="{{ recipe['id'] }}">Save</button>
        {% endfor %}
    </ul>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
<!-- <body>
    
    <h3>Your Saved Recipes</h3>
    <ul>
        {% for recipe in detailed_recipes %}
        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" width="200" height="200">
        <h2>{{ recipe['title'] }}</h2>
        <a href="{{ recipe.sourceUrl }}" target="_blank"">View Recipe</a>
        {% endfor %}
    </ul>
</body> -->


</html>