<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-XXXXX" crossorigin="anonymous">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    
</head>

<body>

    <div class="nav-links">
        <a href="{{ url_for('saved') }}">Your Saved Recipes</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <!-- <nav>
        <a href="{{ url_for('saved') }}">Your Saved Recipes</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav> -->

    <h2>Recipes excluding {{ form.excluded_ingredients.data }}</h2>
    {% if recipes %}
        <ul id="search-results">
            {% for recipe in recipes %}
            <li>
                <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" width="200" height="200">
                <h2>{{ recipe['title'] }}</h2>
                <!-- <p>{{ recipe.summary | safe | striptags }}</p> -->
                <a href="{{ recipe.sourceUrl }}" target="_blank"">View Recipe</a>
                
                <form method="POST" action="/recipes/{{ recipe.id }}/save" class="save-form">
                    <!-- get the spoonacular recipe id from the form  -->
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-link save-button" data-recipe-id="{{ recipe.id }}">
                        {% if g.user and recipe.id in g.user.user_recipes %}
                            <i class="fas fa-star text-warning"></i> <span class="button-text">Unsave</span>
                        {% else %}
                            <i class="far fa-star"></i> <span class="button-text">Save</span>
                        {% endif %}
                    </button>
                </form>
                
            </li>
            {% endfor %}
        </ul>

        <button id="load-more">Load More</button>
    {% else %}
        <p>No recipes found.</p>
    {% endif %}

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>



</html>